<!DOCTYPE HTML>
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/index.css" type="text/css" />
    </head>
    <body>
        <div class="Login">
            <h1>Admin</h1>
            <% if(msg != ""){ %>
                <h4 class="error"><%= msg %></h4>
            <% } %>
            <form method="POST" action="/login">
                <input name="username" type="text" placeholder="Username" />
                <input name="password" type="password" placeholder="Password" />
                <button>Login</button>
            </form>
        </div>
    </body>
</html>
